
/* Common css */
body{
   margin: 0 auto;
}


/* Start the navigation section */
header{
   background-color: #562EFF;
   margin-bottom: 30px;
}

 nav{
   height: 90px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.icons{
   display: flex;
   gap: 20px;
}


.icons img{
   height: 51px;
   width: 40.42px;
  
}

 .common {
   list-style: none;
   margin-top: 10px;
   
}

 .common a{
   text-decoration: none;
   color: white;
   font-weight: 500;
   font-size: large;  
}

 .common a:hover{
   text-decoration: underline;
   color: red; 
}


.menu{
   display: flex;
   gap: 20px;
}



.menu img{
   width: 51px;
   height: 51px;
  
}

/* End the navigation section */


/* Start the players */

.players-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-bottom: 50px;  
}

.player-details{
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 20px;
}

.player-details img{
   width: 56px;
   height: 56px;
}
